
<web-app>
    <display-name>First spring application</display-name>
    <servlet>
        <!-- <servlet-name> + "-servlet.xml" -->
        <servlet-name>deneme</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

   <servlet-mapping>
        <servlet-name>deneme</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>